In [1]:
import pandas as pd
df=pd.read_csv("dirty_cafe_sales.csv")

In [2]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19/07/2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27/04/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30/08/2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,02/06/2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02/03/2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,02/12/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [4]:
df["Quantity"].unique()

array(['2', '4', '5', '3', '1', 'ERROR', 'UNKNOWN', nan], dtype=object)

In [5]:
df=df.drop(df[df["Quantity"]=="UNKNOWN"].index)

In [6]:
df=df.drop(df[df["Quantity"]=="ERROR"].index)

In [7]:
df["Quantity"].unique()

array(['2', '4', '5', '3', '1', nan], dtype=object)

In [8]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19/07/2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27/04/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2,4,NaN,UNKNOWN,30/08/2023
9996,TXN_9659401,NaN,3,NaN,3,Digital Wallet,NaN,02/06/2023
9997,TXN_5255387,Coffee,4,2,8,Digital Wallet,NaN,02/03/2023
9998,TXN_7695629,Cookie,3,NaN,3,Digital Wallet,NaN,02/12/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [9]:
df=df.dropna()

In [10]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19/07/2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27/04/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
...,...,...,...,...,...,...,...,...
9979,TXN_9933628,Smoothie,5,4,20,Cash,In-store,20/07/2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14/12/2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24/02/2023
9992,TXN_2739140,Smoothie,4,4,16,UNKNOWN,In-store,05/07/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [11]:
df["Quantity"].unique()

array(['2', '4', '3', '5', '1'], dtype=object)

In [12]:
df["Item"].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'UNKNOWN', 'Sandwich',
       'Juice', 'Smoothie', 'ERROR', 'Tea'], dtype=object)

In [13]:
df=df.drop(df[df["Item"]=="ERROR"].index)

In [14]:
df=df.drop(df[df["Item"]=="UNKNOWN"].index)

In [15]:
df["Item"].unique()

array(['Coffee', 'Cake', 'Cookie', 'Salad', 'Sandwich', 'Juice',
       'Smoothie', 'Tea'], dtype=object)

In [16]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19/07/2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27/04/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
...,...,...,...,...,...,...,...,...
9979,TXN_9933628,Smoothie,5,4,20,Cash,In-store,20/07/2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14/12/2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24/02/2023
9992,TXN_2739140,Smoothie,4,4,16,UNKNOWN,In-store,05/07/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [17]:
df["Price Per Unit"].unique()

array(['2', '3', '1', '5', '4', '1.5', 'UNKNOWN', 'ERROR'], dtype=object)

In [18]:
df=df.drop(df[df["Price Per Unit"]=="ERROR"].index)

In [19]:
df=df.drop(df[df["Price Per Unit"]=="UNKNOWN"].index)

In [20]:
df["Price Per Unit"].unique()

array(['2', '3', '1', '5', '4', '1.5'], dtype=object)

In [21]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
2,TXN_4271903,Cookie,4,1,ERROR,Credit Card,In-store,19/07/2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27/04/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
...,...,...,...,...,...,...,...,...
9979,TXN_9933628,Smoothie,5,4,20,Cash,In-store,20/07/2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14/12/2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24/02/2023
9992,TXN_2739140,Smoothie,4,4,16,UNKNOWN,In-store,05/07/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [22]:
df["Total Spent"].unique()

array(['4', '12', 'ERROR', '10', '16', '25', '8', '15', '6', '20', '5',
       '1', '3', '2', '9', 'UNKNOWN', '7.5', '4.5', '1.5'], dtype=object)

In [23]:
df=df.drop(df[df["Total Spent"]=="ERROR"].index)

In [24]:
df=df.drop(df[df["Total Spent"]=="UNKNOWN"].index)

In [25]:
df["Total Spent"].unique()

array(['4', '12', '10', '16', '25', '8', '15', '6', '20', '5', '1', '3',
       '2', '9', '7.5', '4.5', '1.5'], dtype=object)

In [26]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
3,TXN_7034554,Salad,2,5,10,UNKNOWN,UNKNOWN,27/04/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
7,TXN_6699534,Sandwich,4,4,16,Cash,UNKNOWN,28/10/2023
...,...,...,...,...,...,...,...,...
9979,TXN_9933628,Smoothie,5,4,20,Cash,In-store,20/07/2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14/12/2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24/02/2023
9992,TXN_2739140,Smoothie,4,4,16,UNKNOWN,In-store,05/07/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [27]:
df["Payment Method"].unique()

array(['Credit Card', 'Cash', 'UNKNOWN', 'Digital Wallet', 'ERROR'],
      dtype=object)

In [28]:
df=df.drop(df[df["Payment Method"]=="ERROR"].index)

In [29]:
df=df.drop(df[df["Payment Method"]=="UNKNOWN"].index)

In [30]:
df["Payment Method"].unique()

array(['Credit Card', 'Cash', 'Digital Wallet'], dtype=object)

In [31]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
7,TXN_6699534,Sandwich,4,4,16,Cash,UNKNOWN,28/10/2023
10,TXN_2548360,Salad,5,5,25,Cash,Takeaway,07/11/2023
...,...,...,...,...,...,...,...,...
9975,TXN_9668108,Cake,1,3,3,Cash,In-store,20/01/2023
9979,TXN_9933628,Smoothie,5,4,20,Cash,In-store,20/07/2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14/12/2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24/02/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [32]:
df["Location"].unique()

array(['Takeaway', 'In-store', 'UNKNOWN', 'ERROR'], dtype=object)

In [33]:
df=df.drop(df[df["Location"]=="ERROR"].index)

In [34]:
df=df.drop(df[df["Location"]=="UNKNOWN"].index)

In [35]:
df["Location"].unique()

array(['Takeaway', 'In-store'], dtype=object)

In [36]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
10,TXN_2548360,Salad,5,5,25,Cash,Takeaway,07/11/2023
11,TXN_3051279,Sandwich,2,4,8,Credit Card,Takeaway,ERROR
...,...,...,...,...,...,...,...,...
9975,TXN_9668108,Cake,1,3,3,Cash,In-store,20/01/2023
9979,TXN_9933628,Smoothie,5,4,20,Cash,In-store,20/07/2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14/12/2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24/02/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [37]:
df["Transaction Date"].unique()

array(['08/09/2023', '16/05/2023', '11/06/2023', '07/11/2023', 'ERROR',
       '03/05/2023', '15/11/2023', '24/02/2023', '15/01/2023',
       '30/03/2023', '01/12/2023', '03/06/2023', '20/04/2023',
       '10/04/2023', '09/10/2023', '29/04/2023', '03/11/2023',
       '05/12/2023', '03/10/2023', '22/03/2023', '31/01/2023',
       '16/07/2023', '15/06/2023', '09/12/2023', '28/10/2023',
       '16/08/2023', '10/06/2023', '15/04/2023', '27/05/2023',
       '25/07/2023', '15/12/2023', '28/12/2023', 'UNKNOWN', '23/09/2023',
       '14/09/2023', '06/02/2023', '11/03/2023', '14/07/2023',
       '18/04/2023', '12/12/2023', '05/01/2023', '23/03/2023',
       '30/04/2023', '25/11/2023', '21/05/2023', '02/07/2023',
       '21/11/2023', '13/03/2023', '16/02/2023', '01/11/2023',
       '28/02/2023', '07/04/2023', '10/12/2023', '04/02/2023',
       '10/05/2023', '26/04/2023', '28/05/2023', '01/03/2023',
       '13/11/2023', '27/12/2023', '18/05/2023', '22/09/2023',
       '20/10/2023', '31/08/2023', '02/09/2023', '13/12/2023',
       '19/08/2023', '31/03/2023', '06/01/2023', '10/07/2023',
       '29/05/2023', '07/07/2023', '16/11/2023', '23/11/2023',
       '11/12/2023', '25/04/2023', '12/10/2023', '04/07/2023',
       '26/02/2023', '22/01/2023', '28/01/2023', '11/08/2023',
       '30/06/2023', '27/02/2023', '06/04/2023', '27/07/2023',
       '19/09/2023', '27/09/2023', '18/08/2023', '06/07/2023',
       '09/08/2023', '14/05/2023', '08/10/2023', '26/11/2023',
       '15/03/2023', '16/10/2023', '15/07/2023', '26/03/2023',
       '20/12/2023', '08/02/2023', '01/02/2023', '14/03/2023',
       '02/03/2023', '29/09/2023', '22/04/2023', '25/08/2023',
       '28/07/2023', '20/02/2023', '13/06/2023', '22/10/2023',
       '30/01/2023', '09/04/2023', '07/10/2023', '22/12/2023',
       '29/07/2023', '03/01/2023', '05/06/2023', '21/03/2023',
       '19/10/2023', '27/10/2023', '20/03/2023', '16/09/2023',
       '24/10/2023', '28/08/2023', '21/06/2023', '14/01/2023',
       '19/05/2023', '21/04/2023', '10/08/2023', '17/11/2023',
       '22/08/2023', '26/10/2023', '28/03/2023', '25/09/2023',
       '09/05/2023', '21/12/2023', '30/05/2023', '24/04/2023',
       '12/07/2023', '18/09/2023', '09/02/2023', '10/11/2023',
       '18/10/2023', '10/02/2023', '11/07/2023', '24/12/2023',
       '25/10/2023', '08/07/2023', '06/06/2023', '04/09/2023',
       '28/06/2023', '09/09/2023', '22/07/2023', '14/12/2023',
       '16/12/2023', '01/07/2023', '16/04/2023', '09/03/2023',
       '08/11/2023', '13/09/2023', '23/05/2023', '11/09/2023',
       '27/01/2023', '18/06/2023', '01/04/2023', '23/08/2023',
       '06/12/2023', '13/08/2023', '30/10/2023', '27/08/2023',
       '25/12/2023', '23/10/2023', '06/05/2023', '24/05/2023',
       '08/04/2023', '02/02/2023', '31/10/2023', '12/08/2023',
       '15/10/2023', '05/02/2023', '11/02/2023', '02/01/2023',
       '16/03/2023', '01/05/2023', '12/04/2023', '12/01/2023',
       '15/02/2023', '26/08/2023', '19/06/2023', '22/06/2023',
       '05/07/2023', '27/11/2023', '28/09/2023', '02/12/2023',
       '07/02/2023', '12/06/2023', '22/11/2023', '07/08/2023',
       '07/05/2023', '24/07/2023', '28/11/2023', '02/10/2023',
       '09/11/2023', '20/09/2023', '18/07/2023', '18/12/2023',
       '13/04/2023', '18/03/2023', '04/06/2023', '26/05/2023',
       '06/08/2023', '06/11/2023', '03/04/2023', '17/07/2023',
       '04/08/2023', '17/08/2023', '18/01/2023', '08/12/2023',
       '26/12/2023', '06/03/2023', '03/08/2023', '07/12/2023',
       '11/10/2023', '29/11/2023', '10/09/2023', '22/02/2023',
       '12/11/2023', '09/07/2023', '03/02/2023', '12/09/2023',
       '21/09/2023', '05/03/2023', '17/12/2023', '28/04/2023',
       '21/07/2023', '03/03/2023', '21/01/2023', '13/07/2023',
       '31/12/2023', '02/11/2023', '08/03/2023', '25/02/2023',
       '20/07/2023', '13/01/2023', '17/05/2023', '19/11/2023',
       '02/08/2023', '21/10/2023', '15/08/2023', '19/07/2023',
       '04/03/2023', '05/04/2023', '30/11/2023', '12/05/2023',
       '18/11/2023', '08/06/2023', '20/06/2023', '29/12/2023',
       '19/12/2023', '19/03/2023', '13/02/2023', '04/12/2023',
       '30/07/2023', '05/09/2023', '20/08/2023', '29/10/2023',
       '17/02/2023', '13/10/2023', '14/08/2023', '20/11/2023',
       '09/06/2023', '25/06/2023', '04/05/2023', '19/02/2023',
       '06/09/2023', '01/09/2023', '05/10/2023', '15/09/2023',
       '29/08/2023', '05/11/2023', '20/01/2023', '17/03/2023',
       '19/01/2023', '04/11/2023', '24/03/2023', '17/04/2023',
       '08/01/2023', '01/01/2023', '31/05/2023', '10/01/2023',
       '04/10/2023', '04/04/2023', '30/09/2023', '02/05/2023',
       '03/12/2023', '14/04/2023', '17/10/2023', '14/10/2023',
       '26/09/2023', '26/07/2023', '10/10/2023', '01/06/2023',
       '29/06/2023', '07/09/2023', '10/03/2023', '24/06/2023',
       '27/06/2023', '08/05/2023', '17/01/2023', '21/08/2023',
       '30/08/2023', '09/01/2023', '17/06/2023', '17/09/2023',
       '23/12/2023', '26/01/2023', '14/06/2023', '01/08/2023',
       '21/02/2023', '07/01/2023', '11/01/2023', '25/01/2023',
       '06/10/2023', '03/07/2023', '19/04/2023', '30/12/2023',
       '27/03/2023', '25/03/2023', '12/02/2023', '29/03/2023',
       '07/06/2023', '24/08/2023', '23/06/2023', '23/07/2023',
       '11/05/2023', '16/01/2023', '11/11/2023', '01/10/2023',
       '20/05/2023', '05/08/2023', '11/04/2023', '23/02/2023',
       '05/05/2023', '08/08/2023', '29/01/2023', '23/01/2023',
       '14/02/2023', '04/01/2023', '27/04/2023', '16/06/2023',
       '15/05/2023', '23/04/2023', '26/06/2023', '03/09/2023',
       '14/11/2023', '07/03/2023', '02/04/2023', '31/07/2023',
       '22/05/2023', '02/06/2023', '18/02/2023', '12/03/2023',
       '25/05/2023', '24/09/2023', '24/11/2023', '24/01/2023',
       '13/05/2023'], dtype=object)

In [38]:
df=df.drop(df[df["Transaction Date"]=="ERROR"].index)

In [39]:
df=df.drop(df[df["Transaction Date"]=="UNKNOWN"].index)

In [40]:
df["Transaction Date"].unique()

array(['08/09/2023', '16/05/2023', '11/06/2023', '07/11/2023',
       '03/05/2023', '15/11/2023', '24/02/2023', '15/01/2023',
       '30/03/2023', '01/12/2023', '03/06/2023', '20/04/2023',
       '10/04/2023', '09/10/2023', '29/04/2023', '03/11/2023',
       '05/12/2023', '03/10/2023', '22/03/2023', '31/01/2023',
       '16/07/2023', '15/06/2023', '09/12/2023', '28/10/2023',
       '16/08/2023', '10/06/2023', '15/04/2023', '27/05/2023',
       '25/07/2023', '15/12/2023', '28/12/2023', '23/09/2023',
       '14/09/2023', '06/02/2023', '11/03/2023', '14/07/2023',
       '18/04/2023', '12/12/2023', '05/01/2023', '23/03/2023',
       '30/04/2023', '25/11/2023', '21/05/2023', '02/07/2023',
       '21/11/2023', '13/03/2023', '16/02/2023', '01/11/2023',
       '28/02/2023', '07/04/2023', '10/12/2023', '04/02/2023',
       '10/05/2023', '26/04/2023', '28/05/2023', '01/03/2023',
       '13/11/2023', '27/12/2023', '18/05/2023', '22/09/2023',
       '20/10/2023', '31/08/2023', '02/09/2023', '13/12/2023',
       '19/08/2023', '31/03/2023', '06/01/2023', '10/07/2023',
       '29/05/2023', '07/07/2023', '16/11/2023', '23/11/2023',
       '11/12/2023', '25/04/2023', '12/10/2023', '04/07/2023',
       '26/02/2023', '22/01/2023', '28/01/2023', '11/08/2023',
       '30/06/2023', '27/02/2023', '06/04/2023', '27/07/2023',
       '19/09/2023', '27/09/2023', '18/08/2023', '06/07/2023',
       '09/08/2023', '14/05/2023', '08/10/2023', '26/11/2023',
       '15/03/2023', '16/10/2023', '15/07/2023', '26/03/2023',
       '20/12/2023', '08/02/2023', '01/02/2023', '14/03/2023',
       '02/03/2023', '29/09/2023', '22/04/2023', '25/08/2023',
       '28/07/2023', '20/02/2023', '13/06/2023', '22/10/2023',
       '30/01/2023', '09/04/2023', '07/10/2023', '22/12/2023',
       '29/07/2023', '03/01/2023', '05/06/2023', '21/03/2023',
       '19/10/2023', '27/10/2023', '20/03/2023', '16/09/2023',
       '24/10/2023', '28/08/2023', '21/06/2023', '14/01/2023',
       '19/05/2023', '21/04/2023', '10/08/2023', '17/11/2023',
       '22/08/2023', '26/10/2023', '28/03/2023', '25/09/2023',
       '09/05/2023', '21/12/2023', '30/05/2023', '24/04/2023',
       '12/07/2023', '18/09/2023', '09/02/2023', '10/11/2023',
       '18/10/2023', '10/02/2023', '11/07/2023', '24/12/2023',
       '25/10/2023', '08/07/2023', '06/06/2023', '04/09/2023',
       '28/06/2023', '09/09/2023', '22/07/2023', '14/12/2023',
       '16/12/2023', '01/07/2023', '16/04/2023', '09/03/2023',
       '08/11/2023', '13/09/2023', '23/05/2023', '11/09/2023',
       '27/01/2023', '18/06/2023', '01/04/2023', '23/08/2023',
       '06/12/2023', '13/08/2023', '30/10/2023', '27/08/2023',
       '25/12/2023', '23/10/2023', '06/05/2023', '24/05/2023',
       '08/04/2023', '02/02/2023', '31/10/2023', '12/08/2023',
       '15/10/2023', '05/02/2023', '11/02/2023', '02/01/2023',
       '16/03/2023', '01/05/2023', '12/04/2023', '12/01/2023',
       '15/02/2023', '26/08/2023', '19/06/2023', '22/06/2023',
       '05/07/2023', '27/11/2023', '28/09/2023', '02/12/2023',
       '07/02/2023', '12/06/2023', '22/11/2023', '07/08/2023',
       '07/05/2023', '24/07/2023', '28/11/2023', '02/10/2023',
       '09/11/2023', '20/09/2023', '18/07/2023', '18/12/2023',
       '13/04/2023', '18/03/2023', '04/06/2023', '26/05/2023',
       '06/08/2023', '06/11/2023', '03/04/2023', '17/07/2023',
       '04/08/2023', '17/08/2023', '18/01/2023', '08/12/2023',
       '26/12/2023', '06/03/2023', '03/08/2023', '07/12/2023',
       '11/10/2023', '29/11/2023', '10/09/2023', '22/02/2023',
       '12/11/2023', '09/07/2023', '03/02/2023', '12/09/2023',
       '21/09/2023', '05/03/2023', '17/12/2023', '28/04/2023',
       '21/07/2023', '03/03/2023', '21/01/2023', '13/07/2023',
       '31/12/2023', '02/11/2023', '08/03/2023', '25/02/2023',
       '20/07/2023', '13/01/2023', '17/05/2023', '19/11/2023',
       '02/08/2023', '21/10/2023', '15/08/2023', '19/07/2023',
       '04/03/2023', '05/04/2023', '30/11/2023', '12/05/2023',
       '18/11/2023', '08/06/2023', '20/06/2023', '29/12/2023',
       '19/12/2023', '19/03/2023', '13/02/2023', '04/12/2023',
       '30/07/2023', '05/09/2023', '20/08/2023', '29/10/2023',
       '17/02/2023', '13/10/2023', '14/08/2023', '20/11/2023',
       '09/06/2023', '25/06/2023', '04/05/2023', '19/02/2023',
       '06/09/2023', '01/09/2023', '05/10/2023', '15/09/2023',
       '29/08/2023', '05/11/2023', '20/01/2023', '17/03/2023',
       '19/01/2023', '04/11/2023', '24/03/2023', '17/04/2023',
       '08/01/2023', '01/01/2023', '31/05/2023', '10/01/2023',
       '04/10/2023', '04/04/2023', '30/09/2023', '02/05/2023',
       '03/12/2023', '14/04/2023', '17/10/2023', '14/10/2023',
       '26/09/2023', '26/07/2023', '10/10/2023', '01/06/2023',
       '29/06/2023', '07/09/2023', '10/03/2023', '24/06/2023',
       '27/06/2023', '08/05/2023', '17/01/2023', '21/08/2023',
       '30/08/2023', '09/01/2023', '17/06/2023', '17/09/2023',
       '23/12/2023', '26/01/2023', '14/06/2023', '01/08/2023',
       '21/02/2023', '07/01/2023', '11/01/2023', '25/01/2023',
       '06/10/2023', '03/07/2023', '19/04/2023', '30/12/2023',
       '27/03/2023', '25/03/2023', '12/02/2023', '29/03/2023',
       '07/06/2023', '24/08/2023', '23/06/2023', '23/07/2023',
       '11/05/2023', '16/01/2023', '11/11/2023', '01/10/2023',
       '20/05/2023', '05/08/2023', '11/04/2023', '23/02/2023',
       '05/05/2023', '08/08/2023', '29/01/2023', '23/01/2023',
       '14/02/2023', '04/01/2023', '27/04/2023', '16/06/2023',
       '15/05/2023', '23/04/2023', '26/06/2023', '03/09/2023',
       '14/11/2023', '07/03/2023', '02/04/2023', '31/07/2023',
       '22/05/2023', '02/06/2023', '18/02/2023', '12/03/2023',
       '25/05/2023', '24/09/2023', '24/11/2023', '24/01/2023',
       '13/05/2023'], dtype=object)

In [41]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2,4,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3,12,Cash,In-store,16/05/2023
4,TXN_3160411,Coffee,2,2,4,Digital Wallet,In-store,11/06/2023
10,TXN_2548360,Salad,5,5,25,Cash,Takeaway,07/11/2023
12,TXN_7619095,Sandwich,2,4,8,Cash,In-store,03/05/2023
...,...,...,...,...,...,...,...,...
9975,TXN_9668108,Cake,1,3,3,Cash,In-store,20/01/2023
9979,TXN_9933628,Smoothie,5,4,20,Cash,In-store,20/07/2023
9986,TXN_2858441,Sandwich,2,4,8,Credit Card,In-store,14/12/2023
9991,TXN_3897619,Sandwich,3,4,12,Cash,Takeaway,24/02/2023
9999,TXN_6170729,Sandwich,3,4,12,Cash,In-store,07/11/2023

In [42]:
df["Quantity"]=df["Quantity"].astype(int)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3089 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    3089 non-null   object
 1   Item              3089 non-null   object
 2   Quantity          3089 non-null   int64
 3   Price Per Unit    3089 non-null   object
 4   Total Spent       3089 non-null   object
 5   Payment Method    3089 non-null   object
 6   Location          3089 non-null   object
 7   Transaction Date  3089 non-null   object
dtypes: int64(1), object(7)
memory usage: 217.2+ KB

In [44]:
df["Price Per Unit"]=df["Price Per Unit"].astype(float)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3089 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    3089 non-null   object
 1   Item              3089 non-null   object
 2   Quantity          3089 non-null   int64
 3   Price Per Unit    3089 non-null   float64
 4   Total Spent       3089 non-null   object
 5   Payment Method    3089 non-null   object
 6   Location          3089 non-null   object
 7   Transaction Date  3089 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 217.2+ KB

In [46]:
df["Total Spent"]=df["Total Spent"].astype(float)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3089 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    3089 non-null   object
 1   Item              3089 non-null   object
 2   Quantity          3089 non-null   int64
 3   Price Per Unit    3089 non-null   float64
 4   Total Spent       3089 non-null   float64
 5   Payment Method    3089 non-null   object
 6   Location          3089 non-null   object
 7   Transaction Date  3089 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 217.2+ KB

In [48]:
df.sample(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
2964,TXN_7321789,Juice,3,3.0,9.0,Digital Wallet,Takeaway,10/05/2023
3860,TXN_8294790,Cookie,1,1.0,1.0,Digital Wallet,Takeaway,01/09/2023
8938,TXN_3426338,Salad,1,5.0,5.0,Cash,In-store,31/07/2023
5837,TXN_5318263,Smoothie,1,4.0,4.0,Credit Card,Takeaway,12/06/2023
9243,TXN_4508067,Smoothie,5,4.0,20.0,Credit Card,Takeaway,19/03/2023
1352,TXN_2385697,Coffee,1,2.0,2.0,Cash,Takeaway,10/09/2023
4910,TXN_6546131,Coffee,4,2.0,8.0,Credit Card,In-store,26/06/2023
8964,TXN_2713279,Cookie,4,1.0,4.0,Digital Wallet,In-store,12/02/2023
9289,TXN_2014042,Cookie,4,1.0,4.0,Digital Wallet,Takeaway,27/10/2023
5975,TXN_4336291,Salad,5,5.0,25.0,Cash,In-store,25/03/2023
7365,TXN_6018020,Cookie,2,1.0,2.0,Credit Card,Takeaway,12/01/2023
3061,TXN_4708410,Cake,4,3.0,12.0,Digital Wallet,In-store,08/10/2023
4829,TXN_3394874,Coffee,4,2.0,8.0,Credit Card,Takeaway,18/06/2023
7221,TXN_3472433,Coffee,4,2.0,8.0,Credit Card,Takeaway,29/10/2023
8361,TXN_2102950,Coffee,5,2.0,10.0,Digital Wallet,Takeaway,07/12/2023
6406,TXN_6959328,Sandwich,3,4.0,12.0,Credit Card,Takeaway,23/04/2023
8710,TXN_1292476,Juice,4,3.0,12.0,Digital Wallet,Takeaway,07/09/2023
5847,TXN_3974663,Juice,3,3.0,9.0,Cash,Takeaway,02/10/2023
156,TXN_1928241,Coffee,3,2.0,6.0,Cash,In-store,30/04/2023
7692,TXN_5858713,Cookie,2,1.0,2.0,Credit Card,In-store,05/03/2023

In [49]:
df.shape

(3089, 8)

In [50]:
df.columns

Index(['Transaction ID', 'Item', 'Quantity', 'Price Per Unit', 'Total Spent',
       'Payment Method', 'Location', 'Transaction Date'],
      dtype='object')

In [51]:
df.nunique()

Transaction ID      3089
Item                   8
Quantity               5
Price Per Unit         6
Total Spent           17
Payment Method         3
Location               2
Transaction Date     365
dtype: int64

In [52]:
df.count()

Transaction ID      3089
Item                3089
Quantity            3089
Price Per Unit      3089
Total Spent         3089
Payment Method      3089
Location            3089
Transaction Date    3089
dtype: int64

In [53]:
df["Item"].value_counts()

Item
Juice       427
Salad       418
Cookie      391
Sandwich    391
Cake        385
Tea         372
Coffee      367
Smoothie    338
Name: count, dtype: int64

In [54]:
df[df.Item=="Juice"]
#df.groupby('Item').get_group('Juice')

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,24/02/2023
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,15/01/2023
27,TXN_5695074,Juice,4,3.0,12.0,Credit Card,Takeaway,10/04/2023
46,TXN_8078640,Juice,4,3.0,12.0,Digital Wallet,In-store,03/11/2023
79,TXN_3829165,Juice,4,3.0,12.0,Cash,In-store,15/06/2023
...,...,...,...,...,...,...,...,...
9873,TXN_8270768,Juice,5,3.0,15.0,Digital Wallet,Takeaway,28/02/2023
9898,TXN_8999360,Juice,3,3.0,9.0,Cash,Takeaway,27/09/2023
9899,TXN_6188262,Juice,1,3.0,3.0,Cash,Takeaway,24/10/2023
9941,TXN_4224427,Juice,4,3.0,12.0,Cash,Takeaway,23/01/2023
9959,TXN_4556831,Juice,2,3.0,6.0,Digital Wallet,In-store,28/05/2023

In [55]:
len(df[df.Item=="Juice"])

427

In [56]:
df.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [57]:
df.notnull().sum()

Transaction ID      3089
Item                3089
Quantity            3089
Price Per Unit      3089
Total Spent         3089
Payment Method      3089
Location            3089
Transaction Date    3089
dtype: int64

In [58]:
df.rename(columns={"Quantity":"Qty"})

,Transaction ID,Item,Qty,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,08/09/2023
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,16/05/2023
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,11/06/2023
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,07/11/2023
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,03/05/2023
...,...,...,...,...,...,...,...,...
9975,TXN_9668108,Cake,1,3.0,3.0,Cash,In-store,20/01/2023
9979,TXN_9933628,Smoothie,5,4.0,20.0,Cash,In-store,20/07/2023
9986,TXN_2858441,Sandwich,2,4.0,8.0,Credit Card,In-store,14/12/2023
9991,TXN_3897619,Sandwich,3,4.0,12.0,Cash,Takeaway,24/02/2023
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,07/11/2023

In [59]:
#df.Quantity.mean()
df["Quantity"].mean()

np.float64(3.0236322434444802)

In [60]:
df.Quantity.median()

np.float64(3.0)

In [61]:
df[(df["Item"]=="Juice") & (df["Quantity"]>4)]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
133,TXN_1150033,Juice,5,3.0,15.0,Cash,In-store,18/04/2023
436,TXN_6769465,Juice,5,3.0,15.0,Digital Wallet,In-store,13/06/2023
473,TXN_8502094,Juice,5,3.0,15.0,Credit Card,In-store,21/03/2023
540,TXN_3917193,Juice,5,3.0,15.0,Credit Card,Takeaway,17/11/2023
637,TXN_8958593,Juice,5,3.0,15.0,Digital Wallet,In-store,08/07/2023
...,...,...,...,...,...,...,...,...
9594,TXN_6403012,Juice,5,3.0,15.0,Cash,In-store,23/07/2023
9729,TXN_5563486,Juice,5,3.0,15.0,Digital Wallet,In-store,13/03/2023
9773,TXN_6091542,Juice,5,3.0,15.0,Digital Wallet,Takeaway,17/01/2023
9828,TXN_4606893,Juice,5,3.0,15.0,Digital Wallet,In-store,24/05/2023
9873,TXN_8270768,Juice,5,3.0,15.0,Digital Wallet,Takeaway,28/02/2023

In [62]:
df.groupby("Item").mean('numeric_only')

          Quantity  Price Per Unit  Total Spent
Item
Cake      3.046753             3.0     9.140260
Coffee    3.054496             2.0     6.108992
Cookie    2.974425             1.0     2.974425
Juice     2.915691             3.0     8.747073
Salad     3.043062             5.0    15.215311
Sandwich  3.051151             4.0    12.204604
Smoothie  3.023669             4.0    12.094675
Tea       3.094086             1.5     4.641129

In [63]:
df.groupby("Item").agg(['min', 'max'])

         Transaction ID              Quantity     Price Per Unit       \
                    min          max      min max            min  max
Item
Cake        TXN_1011236  TXN_9991225        1   5            3.0  3.0
Coffee      TXN_1005331  TXN_9954652        1   5            2.0  2.0
Cookie      TXN_1002457  TXN_9987017        1   5            1.0  1.0
Juice       TXN_1057760  TXN_9999113        1   5            3.0  3.0
Salad       TXN_1006942  TXN_9884180        1   5            5.0  5.0
Sandwich    TXN_1045022  TXN_9983356        1   5            4.0  4.0
Smoothie    TXN_1004184  TXN_9989719        1   5            4.0  4.0
Tea         TXN_1000555  TXN_9992148        1   5            1.5  1.5

         Total Spent       Payment Method                  Location            \
                 min   max            min             max       min       max
Item
Cake             3.0  15.0           Cash  Digital Wallet  In-store  Takeaway
Coffee           2.0  10.0           Cash  Digital Wallet  In-store  Takeaway
Cookie           1.0   5.0           Cash  Digital Wallet  In-store  Takeaway
Juice            3.0  15.0           Cash  Digital Wallet  In-store  Takeaway
Salad            5.0  25.0           Cash  Digital Wallet  In-store  Takeaway
Sandwich         4.0  20.0           Cash  Digital Wallet  In-store  Takeaway
Smoothie         4.0  20.0           Cash  Digital Wallet  In-store  Takeaway
Tea              1.5   7.5           Cash  Digital Wallet  In-store  Takeaway

         Transaction Date
                      min         max
Item
Cake           01/01/2023  31/10/2023
Coffee         01/01/2023  31/10/2023
Cookie         01/02/2023  31/10/2023
Juice          01/01/2023  31/08/2023
Salad          01/01/2023  31/12/2023
Sandwich       01/01/2023  31/12/2023
Smoothie       01/01/2023  31/10/2023
Tea            01/01/2023  31/12/2023

In [64]:
df[df["Payment Method"].str.contains("Cash")]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,16/05/2023
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,07/11/2023
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,03/05/2023
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,24/02/2023
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,15/01/2023
...,...,...,...,...,...,...,...,...
9974,TXN_8076061,Tea,4,1.5,6.0,Cash,In-store,01/04/2023
9975,TXN_9668108,Cake,1,3.0,3.0,Cash,In-store,20/01/2023
9979,TXN_9933628,Smoothie,5,4.0,20.0,Cash,In-store,20/07/2023
9991,TXN_3897619,Sandwich,3,4.0,12.0,Cash,Takeaway,24/02/2023
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,07/11/2023

In [65]:
df[(df["Item"]=="Juice") | (df["Quantity"]>3)]

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,16/05/2023
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,07/11/2023
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,24/02/2023
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,15/01/2023
21,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,30/03/2023
...,...,...,...,...,...,...,...,...
9962,TXN_4723089,Sandwich,4,4.0,16.0,Cash,In-store,23/05/2023
9970,TXN_5762440,Sandwich,5,4.0,20.0,Cash,In-store,05/03/2023
9971,TXN_6120851,Salad,5,5.0,25.0,Cash,Takeaway,04/02/2023
9974,TXN_8076061,Tea,4,1.5,6.0,Cash,In-store,01/04/2023
9979,TXN_9933628,Smoothie,5,4.0,20.0,Cash,In-store,20/07/2023

In [66]:
df["Transaction Date"].unique()

array(['08/09/2023', '16/05/2023', '11/06/2023', '07/11/2023',
       '03/05/2023', '15/11/2023', '24/02/2023', '15/01/2023',
       '30/03/2023', '01/12/2023', '03/06/2023', '20/04/2023',
       '10/04/2023', '09/10/2023', '29/04/2023', '03/11/2023',
       '05/12/2023', '03/10/2023', '22/03/2023', '31/01/2023',
       '16/07/2023', '15/06/2023', '09/12/2023', '28/10/2023',
       '16/08/2023', '10/06/2023', '15/04/2023', '27/05/2023',
       '25/07/2023', '15/12/2023', '28/12/2023', '23/09/2023',
       '14/09/2023', '06/02/2023', '11/03/2023', '14/07/2023',
       '18/04/2023', '12/12/2023', '05/01/2023', '23/03/2023',
       '30/04/2023', '25/11/2023', '21/05/2023', '02/07/2023',
       '21/11/2023', '13/03/2023', '16/02/2023', '01/11/2023',
       '28/02/2023', '07/04/2023', '10/12/2023', '04/02/2023',
       '10/05/2023', '26/04/2023', '28/05/2023', '01/03/2023',
       '13/11/2023', '27/12/2023', '18/05/2023', '22/09/2023',
       '20/10/2023', '31/08/2023', '02/09/2023', '13/12/2023',
       '19/08/2023', '31/03/2023', '06/01/2023', '10/07/2023',
       '29/05/2023', '07/07/2023', '16/11/2023', '23/11/2023',
       '11/12/2023', '25/04/2023', '12/10/2023', '04/07/2023',
       '26/02/2023', '22/01/2023', '28/01/2023', '11/08/2023',
       '30/06/2023', '27/02/2023', '06/04/2023', '27/07/2023',
       '19/09/2023', '27/09/2023', '18/08/2023', '06/07/2023',
       '09/08/2023', '14/05/2023', '08/10/2023', '26/11/2023',
       '15/03/2023', '16/10/2023', '15/07/2023', '26/03/2023',
       '20/12/2023', '08/02/2023', '01/02/2023', '14/03/2023',
       '02/03/2023', '29/09/2023', '22/04/2023', '25/08/2023',
       '28/07/2023', '20/02/2023', '13/06/2023', '22/10/2023',
       '30/01/2023', '09/04/2023', '07/10/2023', '22/12/2023',
       '29/07/2023', '03/01/2023', '05/06/2023', '21/03/2023',
       '19/10/2023', '27/10/2023', '20/03/2023', '16/09/2023',
       '24/10/2023', '28/08/2023', '21/06/2023', '14/01/2023',
       '19/05/2023', '21/04/2023', '10/08/2023', '17/11/2023',
       '22/08/2023', '26/10/2023', '28/03/2023', '25/09/2023',
       '09/05/2023', '21/12/2023', '30/05/2023', '24/04/2023',
       '12/07/2023', '18/09/2023', '09/02/2023', '10/11/2023',
       '18/10/2023', '10/02/2023', '11/07/2023', '24/12/2023',
       '25/10/2023', '08/07/2023', '06/06/2023', '04/09/2023',
       '28/06/2023', '09/09/2023', '22/07/2023', '14/12/2023',
       '16/12/2023', '01/07/2023', '16/04/2023', '09/03/2023',
       '08/11/2023', '13/09/2023', '23/05/2023', '11/09/2023',
       '27/01/2023', '18/06/2023', '01/04/2023', '23/08/2023',
       '06/12/2023', '13/08/2023', '30/10/2023', '27/08/2023',
       '25/12/2023', '23/10/2023', '06/05/2023', '24/05/2023',
       '08/04/2023', '02/02/2023', '31/10/2023', '12/08/2023',
       '15/10/2023', '05/02/2023', '11/02/2023', '02/01/2023',
       '16/03/2023', '01/05/2023', '12/04/2023', '12/01/2023',
       '15/02/2023', '26/08/2023', '19/06/2023', '22/06/2023',
       '05/07/2023', '27/11/2023', '28/09/2023', '02/12/2023',
       '07/02/2023', '12/06/2023', '22/11/2023', '07/08/2023',
       '07/05/2023', '24/07/2023', '28/11/2023', '02/10/2023',
       '09/11/2023', '20/09/2023', '18/07/2023', '18/12/2023',
       '13/04/2023', '18/03/2023', '04/06/2023', '26/05/2023',
       '06/08/2023', '06/11/2023', '03/04/2023', '17/07/2023',
       '04/08/2023', '17/08/2023', '18/01/2023', '08/12/2023',
       '26/12/2023', '06/03/2023', '03/08/2023', '07/12/2023',
       '11/10/2023', '29/11/2023', '10/09/2023', '22/02/2023',
       '12/11/2023', '09/07/2023', '03/02/2023', '12/09/2023',
       '21/09/2023', '05/03/2023', '17/12/2023', '28/04/2023',
       '21/07/2023', '03/03/2023', '21/01/2023', '13/07/2023',
       '31/12/2023', '02/11/2023', '08/03/2023', '25/02/2023',
       '20/07/2023', '13/01/2023', '17/05/2023', '19/11/2023',
       '02/08/2023', '21/10/2023', '15/08/2023', '19/07/2023',
       '04/03/2023', '05/04/2023', '30/11/2023', '12/05/2023',
       '18/11/2023', '08/06/2023', '20/06/2023', '29/12/2023',
       '19/12/2023', '19/03/2023', '13/02/2023', '04/12/2023',
       '30/07/2023', '05/09/2023', '20/08/2023', '29/10/2023',
       '17/02/2023', '13/10/2023', '14/08/2023', '20/11/2023',
       '09/06/2023', '25/06/2023', '04/05/2023', '19/02/2023',
       '06/09/2023', '01/09/2023', '05/10/2023', '15/09/2023',
       '29/08/2023', '05/11/2023', '20/01/2023', '17/03/2023',
       '19/01/2023', '04/11/2023', '24/03/2023', '17/04/2023',
       '08/01/2023', '01/01/2023', '31/05/2023', '10/01/2023',
       '04/10/2023', '04/04/2023', '30/09/2023', '02/05/2023',
       '03/12/2023', '14/04/2023', '17/10/2023', '14/10/2023',
       '26/09/2023', '26/07/2023', '10/10/2023', '01/06/2023',
       '29/06/2023', '07/09/2023', '10/03/2023', '24/06/2023',
       '27/06/2023', '08/05/2023', '17/01/2023', '21/08/2023',
       '30/08/2023', '09/01/2023', '17/06/2023', '17/09/2023',
       '23/12/2023', '26/01/2023', '14/06/2023', '01/08/2023',
       '21/02/2023', '07/01/2023', '11/01/2023', '25/01/2023',
       '06/10/2023', '03/07/2023', '19/04/2023', '30/12/2023',
       '27/03/2023', '25/03/2023', '12/02/2023', '29/03/2023',
       '07/06/2023', '24/08/2023', '23/06/2023', '23/07/2023',
       '11/05/2023', '16/01/2023', '11/11/2023', '01/10/2023',
       '20/05/2023', '05/08/2023', '11/04/2023', '23/02/2023',
       '05/05/2023', '08/08/2023', '29/01/2023', '23/01/2023',
       '14/02/2023', '04/01/2023', '27/04/2023', '16/06/2023',
       '15/05/2023', '23/04/2023', '26/06/2023', '03/09/2023',
       '14/11/2023', '07/03/2023', '02/04/2023', '31/07/2023',
       '22/05/2023', '02/06/2023', '18/02/2023', '12/03/2023',
       '25/05/2023', '24/09/2023', '24/11/2023', '24/01/2023',
       '13/05/2023'], dtype=object)

In [67]:
df["Transaction Date"]= pd.to_datetime(df["Transaction Date"],format='%d/%m/%Y')

In [68]:
df["MONTH"]=df["Transaction Date"].dt.month

In [69]:
df

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date,MONTH
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08,9
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16,5
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11,6
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07,11
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03,5
...,...,...,...,...,...,...,...,...,...
9975,TXN_9668108,Cake,1,3.0,3.0,Cash,In-store,2023-01-20,1
9979,TXN_9933628,Smoothie,5,4.0,20.0,Cash,In-store,2023-07-20,7
9986,TXN_2858441,Sandwich,2,4.0,8.0,Credit Card,In-store,2023-12-14,12
9991,TXN_3897619,Sandwich,3,4.0,12.0,Cash,Takeaway,2023-02-24,2
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07,11

In [70]:
df["MONTH"]=df["MONTH"].astype(int)

In [71]:
df.MONTH.unique()

array([ 9,  5,  6, 11,  2,  1,  3, 12,  4, 10,  7,  8])

In [72]:
df.groupby('MONTH')['Total Spent'].sum()

MONTH
1     2749.0
2     2219.5
3     2240.0
4     2275.5
5     1844.5
6     2281.5
7     2307.0
8     2328.5
9     2426.5
10    2309.5
11    2397.0
12    2227.0
Name: Total Spent, dtype: float64